
.left{
    background-color: Transparent !important;
    background-repeat:no-repeat;
    border: none !important;
    cursor:pointer;
    overflow: hidden;
    outline:none !important;
    text-align:center !important;
    vertical-align:middle !important;
    display:inline-block !important;
}

.right{
    background-color: Transparent !important;
    background-repeat:no-repeat;
    border: none !important;
    cursor:pointer;
    overflow: hidden;
    outline:none !important;
    text-align:center !important;
    vertical-align:middle !important;
    display:inline-block !important;
}
